{% extends 'cloning/base.html' %}
{% load static %}

{% block content %}

<body style="background-color: rgb(250, 250, 250);">

    <div id="Wrapper" style="width: 100%;">
        <div id="Content">
            <!-- content here -->
            <div class="container">
                <div class="header">
                    <img src="{% static 'cloning/img/logo.png' %}" alt="logo">
                </div>


                <h1 class="question_first">
                    HAVE A PROPERTY <br> FOR RENT?
                </h1>

                <div class="video">

                </div>


                <div class="d-grid gap-2 col-6 mx-auto justify-content-center">
                    <button id="button" type="button">YES! I WANT TO LEARN MORE</button>

                </div>

            </div>

            

    </div>
    </div>
 

    <div class="container">

        <div class="row">

            <div class="col">

                <span class="p1"> Is There Any Charge For Working With You?</span>
                <span class="para" id="pone">There are no fees, charges, or hidden costs whatsoever to work with us. We sign a 6 or 12 month lease and provide a deposit, just like a typical tenant.</span>
            </div>
            <div class="col">
                <span class="p2">Who Would Be Staying In My Property?</span>
                <span class="para">Our guests are business leisure travelers who are seeking something different. We deliver the “un-hotel” experience to our guests. </span>
            </div>
            <div class="col">
                <span class="p3">How Do I See If My Property Will Qualify?</span>
                <span class="para" id="pthree">Your place may be exactly what we’re looking for. To find out if it’s a fit for both of us, just click CONTACT US below and we’ll be in touch!</span>

            </div>


        </div>
        </div>

    <div>
        <img id='chairs' src="{% static 'cloning/img/readyBack.jpg' %}" alt="">
    </div>

</body>
{% endblock content %}
                                                    